.search-box {
  max-width: 1020px;
  height: 56px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  padding: 0 20px 0 48px;
}

.svg-search-box {
  position: absolute;
  margin: 16px;
}
