.container {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  background-color: bisque;
}

h1 {
  margin: 86px 196px 16px 224px;

  img {
    display: block;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
}
